/* box model fix */
/* details: www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column-container h1 {
  font-size: 18px;
}

.column-container p {
  color: gray;
}

.columns {
  float: left;
  width: 220px;
}

.vertical-line {
  float: left;
  height: 360px;
  width: 1px;
  margin: 0px 10px;
  background-color: #DCDCDC;
}